.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 1px 3px 5px 2px rgba(245, 236, 236, 0.84);
  box-shadow: 1px 3px 5px 2px rgba(245, 236, 236, 0.84);

  .chart-title {
    margin-bottom: 20px;
  }
}
