.topbar {
  display: flex;
  width: 100%;
  top: 0;
  height: 50px;
  position: sticky;
  z-index: 999;

  .topbar-wrapper {
    height: inherit;
    width: inherit;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top-left {
      .logo {
        font-weight: bold;
        font-size: 30px;
        color: darkblue;
        cursor: pointer;
      }
    }

    .top-right {
      display: flex;
      align-items: center;

      .topbar-icon-container {
        position: relative;
        cursor: pointer;
        margin-right: 10px;
        color: #555;

        .top-icon-badge {
          position: absolute;
          top: -5px;
          right: 0;
          background-color: red;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
        }
      }

      .top-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
